/* @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');

:root {
  --ff-primary: "Work Sans", "Sans-serif";
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}

p {
  font-weight: 300;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.nav {
  position: fixed;
  background: #0d0d0de0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
  top: 0;
}

.nav__container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo > .logo {
  width: 0.8rem;
  margin-right: 0.8rem;
}

.nav__header, .nav__sub {
  font-size: 0.8rem;
}

.nav__items,
.mobile--nav-items {
  list-style: none;
}

.nav__items {
  display: none;
}

.mobile--nav-items {
  text-align: center;
  height: 0;
  overflow: hidden;
}

.show-items {
  height: 15rem;
  margin: 1.2rem 0 0.5rem;
  transition: height 500ms ease-in-out;
}

.mobile--nav-item {
  padding-bottom: 1.5rem;
  font-size: 1.3rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav__item {
  padding: 0 0.5rem;
}

.button__toggle {
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.button__toggle:focus {
  outline: none;
}

.button__toggle__bar {
  width: 2rem;
  height: 0.15rem;
  background: #fff;
  display: block;
  position: relative;
  margin: 0.2rem 0;
}

.bar--open,
.bar--close {
  transition: opacity 200ms, transform 300ms;
}

.button__toggle__bar.bar--open:nth-child(1) {
  transform: rotate(45deg);
  top: 0.42rem;
  right: 0.1rem;
}

.button__toggle__bar.bar--open:nth-child(2) {
  opacity: 0;
}

.button__toggle__bar.bar--open:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 0.27rem;
  right: 0.1rem;
}

.button__toggle__bar.bar--close:nth-child(1) {
  transform: rotate(0);
}
.button__toggle__bar.bar--close:nth-child(2) {
  opacity: 1;
}
.button__toggle__bar.bar--close:nth-child(3) {
  transform: rotate(0);
}

/* Footer style */
footer {
  position: sticky;
  top: 100%;
  margin-top: 10%;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #235399;
  margin-bottom: 0;
}


.footer-contact {
  font-size: 0.9rem;
  color: #ffffff;
  padding: 2rem 0 1rem;
  text-align: center;
}

.footer-acknowledge,
address {
  font-size: 0.7rem;
  line-height: 1.2rem;
  margin-top: 5px;
}

.footer-acknowledge {
  padding: 1rem 1.2rem;
  max-width: 45rem;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  background-color: #00204e;
  font-size: 0.6rem;
}

.copyright {
    position: absolute;
    bottom: 0.5rem;
}

@media (min-width: 52rem) {
  .button__toggle {
    display: none;
  }

  .nav__items {
    display: flex;
    gap: 2.5rem;
    margin-right: 3rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-acknowledge {
    width: 30rem;
  }
}
