.modal {
    position: fixed;
    background: rgba(43, 43, 43, 0.96);
    height: 92vh;
    width: 100vw;
    top: 4rem;
    padding: 2rem 1.5rem;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -1rem;
}

.modalHeading {
    display: flex;
    align-items: center;
}

.modalTitle {
    margin-top: -1rem;
}

.modalImage {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.modalBtn {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-top: -2.5rem;
}

.modalContent {
    margin: 1rem 0 0 0;
    padding: 1rem 0.75rem;
    background: rgba(69, 69, 69, 0.95);
    height: 525px;
    z-index: 10000;
    overflow-y: auto;
}

.modalContent>p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
}

.noScroll {
    overflow: hidden;
}

@media (min-width: 45rem) {
    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modalContent, .modalHeader {
        width: 72vw;
    }

    .modalContent>p {
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: justify;
        padding: 0 1.2rem;
    }
}